node_modules
notes
SDL2.dll
shader.spv
shader-out.wgsl
/simple/taca
taca.exe
taca.pdb
tacana
tacana.exe
tacana.pdb
vendor
zig-cache
*.asm.js
*.o
*.opt.*
*.wasm
*.wasm.map
*.wat


# Added by cargo

/target
